/* Your code here */
.main__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}
.main__navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__navbar-li {
    text-align: center;
    padding: 1rem;
}
